/* BASIC STYLES HERE */

.house-card {
  background-color: whitesmoke;
}

.listings-button {
  position: fixed;
  bottom: 2em;
  right: 2em;
}

.form-control {
  background-color: whitesmoke !important;
}